/* 吉田CSS */

/* 全体 */
* {
  font-family: 'Noto Sans JP', sans-serif;
}
.card-body {
  margin: 0 auto;
  background-color: #ffffff;
}

.auth-form-content {
  width: 410px;
}

.invalid-feedback {
  width: 230px;
}

.admin-home {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.admin-btn {
  color: #FFFFFF;
  border: 1px solid #ffd166;
  background-color: #ffd166;
  padding: 15px 30px;
  border-radius: 4px;
}
.admin-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
}


/* 確認画面 　BY Yoshida　*/

.confirm-header {
  text-align: center;
}


.confirm-title {
  width: 100%;
}

.confirm-body {
  padding: 40px;
}

.confirm-section {
  margin-bottom: 60px;
}
.confirm-title>label {
  font-weight: bold;
  font-size: 14px;
}

.confirm-form {
  text-align: center;
}

/* ボタン類 BY yoshida */
.confirm-btn {
  border: 1px solid #1F2F54;
  background-color: #1F2F54;
  color: #FFFFFF;
  height: 48px;
  padding: 0 145px;
  font-size: 17px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.complete-btn {
  border: 1px solid #1F2F54;
  background-color: #1F2F54;
  color: #FFFFFF;
  height: 48px;
  padding: 0 145px;
  font-size: 17px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.back-btn {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #222;
}

.back-btn:hover {
  text-decoration: none;
  color: #222;
}

.delete-btn {
  background-color: #d90429;
  border: 1px solid #d90429;
}

.user-btn {
  display: flex;
  justify-content: center;
}

/* ユーザー入力フォーム */
.col-md-6 > input {
  width: 230px;
}

.room-input {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
}
.room-input > input {
  width: 50%;
  margin-right: 6px;
}

.heading {
  border-bottom: 1px solid #1F2F54;
}

.login-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.login-heading > p {
  font-size: 12px;
}

.to-register {
  text-decoration: underline;
}


.heading > p > span {
  color: #d90429;
  font-weight: bold;
}

.register-group {
  align-items: baseline;
  margin-left: 0;
  margin-right: 0;
}

.register-group > label {
  width: 105px;
}

.form-group {
  margin-top: 20px;
}

.user-results {
  width: 500px;
}

.user-result {
  border-bottom: 1px solid #1F2F54;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.to-detail {
  margin-bottom: 1px;
  height: 32px;
  width: 60px;
  background-color: #1F2F54;
  border: 1px solid #1F2F54;
  color: #FFFFFF;
  border-radius: 4px;
}

.no-data {
  margin-top: 30px;
  text-align: center;
}

.to-detail-link {
  text-align: end;
}
.to-detail-link > a {
  color: #1F2F54;
}

/* トップページ */
.hotel-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px !important;
  background-color: #fff;
}

.time {
  display: flex;
  margin-left: 0.5rem;
}

.time > .checkin-time {
  margin-right: 10px;
}



/* 予約履歴 */
.reservation-list {
  background-color: #FFFFFF;
  margin: 30px 0;
  padding: 40px 20px;
  height: 100%;
}

.reservation-list > .plan-name {
  font-size: 18px;
  border-bottom: dotted 2px #1F2F54;
  margin: 0 20px;
}

.reservation-detail > .reservation-day,
.reservation-detail > .reservation-room,
.reservation-detail > .reservation-action-btn {
  text-align: end;
  margin-right: 40px;
}

.reservation-detail > .reservation-day {
  margin-top: 8px;
}

.reservation-detail > .reservation-action-btn {
  margin-top: 10px;
}

/* 予約履歴 > 予約内容変更ボタン */
.reservation-action-btn > .reservation-edit {
  background-color: #1F2F54;
  border: 1px solid #1F2F54;
  color: #FFFFFF;
}

/* 予約履歴 > キャンセルボタン */
.reservation-action-btn > .reservation-cancel {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  color: #1F2F54;
  margin-left: 8px
}

.reservation-action-btn > .reservation-cancel,
.reservation-action-btn > .reservation-edit {
  border-radius: 4px;
  height: 32px;
}



/* miyauchi */

/* 宿詳細画面＆宿泊プラン一覧＆口コミ投稿 */
/*!!!!!!!!!!!!!!!宮内!!!!!!!!!!!!!!!!*/
body {background-color: #e6e6e6;}
/* 宿検索結果一覧画面 */
.minititle3{
  font-size: large;
  font-weight: 800;
  color: #1F2F54;
}
div.detail{
  margin-top: 20px;
  margin-bottom: 20px;
}
div.under {
  border-bottom: dotted 2px #1F2F54;
          }
span.title{
            font-weight: 800;
            font-size: large;
            display: inline-block;
          }

span.toppage-title {
  font-size: x-large;
}
span.hoteltype{
              text-align: right;
              display: inline-block;
              }
.self-container{
                background-color: #e8e8e8;
              }
div.item-container{
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}

/* 宿詳細画面＆宿泊プラン一覧＆口コミ投稿 */
.ditail2{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
}
.minititle1{
    color: #FFFFFF;
    background-color: #1F2F54;
    font-size: 1em;
    padding: 5px;
    width: 100px;
    border-radius: 2px;
}
.font1{
  font-size: 15px;
}

div.under{
  border-bottom: dotted 2px #000033;
}
.button1 {
      color: #FFFFFF;
      background-color: #000033;
      font-size: 1em;
      font-weight: bold;
      border-radius: 5px;
    }

/* 宿検索画面 */
textarea{
  resize: none;
}
.review-textarea {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 2px solid #1F2F54;
}

.review-textarea:focus {
  outline: none;

}

.plan-detail {
  text-align: right;
  margin: 4px 4px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.detail-remaining,
.detail-price {
  width: 100px;
}
.detail-remaining {
 text-align: center;
}

.search1{
  border-color: #000033;
  border-style: solid;
  border-width: 2px;
}
.search2{
  border-color: #000033;
  border-style: solid;
  border-width: 2px;
}

span.hoteltype{
    text-align: right;
    display: inline-block;
}
.self-container{
  background-color: #e8e8e8;
}
div.detail{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* 宿検索結果一覧画面 */
img.toppage-image {
      height: 130px;
      object-fit: cover; /* この一行を追加するだけ！ */
      margin-top: 10px;
      margin-bottom: 10px;
    }
div.under {
  border-bottom: dotted 2px #1F2F54;

}
.minititle4{
  font-size: 20px;
  font-weight: bolder;
  color: #000033;
}

/* 完了画面 */
.minititle2{
  font-size: x-large;
  margin: 10px;
}

/* oko */
/* 管理者 会員情報詳細 */
table {width:580px;}
table th {width:200px; padding:10px;}
table td {padding:10px;}
.user-detail-content {width:600px; margin-left:auto; margin-right:auto;background-color: #FFFFFF;}
.user-detail-table {width:580px; margin-left:auto; margin-right:auto; font-size:20px;}
.user-detail-btn {width:340px; margin:0px 0px 0px auto;}
#user-detail-subtitle {font-size:28px;}
#user-detail-btn-destroy {width:150px; margin:0px 15px 0px 0px;
                          font-size:20px; font-weight:bold; border-radius:5px;
                          background-color:#cccccc; color:#090911;}
#user-detail-btn-edit {width:150px; margin:0px 0px 0px 15px;
                       font-size:20px; font-weight:bold; border-radius:5px;
                       background-color:#000033; color:#ffffff;}

/*　sato　*/
/*プレースホルダのフォントサイズを変えました*/
input::-webkit-input-placeholder{
  font-size: 10px;
}
input:-moz-placeholder {
  font-size: 10px;
}
input::-moz-placeholder{
  font-size: 10px;
}
input:-ms-input-placeholder{
  font-size: 10px;
}
/*写真登録のエラー文*/
.notice {
  color: #d90429;
  font-weight: bold;
}

/*フォーム注意書きの設定*/
.col-md-6>p{
  font-size: 10px;
  width: 230px;
  margin-bottom: 0;
}

/*管理者：会員検索画面ボタン*/
.search-btn {
  border: 1px solid #1F2F54;
  background-color: #1F2F54;
  color: #FFFFFF;
  height: 48px;
  padding: 0 145px;
  font-size: 17px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.review {
  margin-bottom: 6px;
}

.review-user {
  font-size: 13px;
  font-weight: bold;
}
.review-btn {
  height: 42px;
  width: 84px;
}

.to-reservationBtn {
  height: 34px;
  width: 74px;
}

.blue-btn {
  background-color: #1F2F54;
  border: 1px solid #1F2F54;
  border-radius: 4px;
  color: #fff;
}

/* 吉田CSS2 */

.item-content {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.detail-img {
  max-height: 160px;
  width: 100%;
}

/* 管理者詳細 */
.item-deleteBtn {
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  color: #1F2F54;
  margin-left: 8px;
  border-radius: 4px;
}

.main-content {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.review-lists {
  background-color: #f8f8f8;
  color: #484848;
  overflow: scroll;
}
.hotel-action {
  justify-content: start;
}

.container > section {
  background-color: #fff;
}

.hotel-list > .image-section {
  text-align: center;
  width: 200px;
}

